src/main/mule/deleteEmployee.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="deleteEmployeeFlow" doc:id="346471b5-fb2e-461e-8cba-84b8172e9bfb" >
		<db:delete doc:name="Delete" doc:id="062b71ed-d607-4cdb-95d9-6874ed6a40ed" config-ref="Database_Config">
			<db:sql >DELETE FROM employee WHERE empId = :empId;</db:sql>
			<db:input-parameters ><![CDATA[#[{
	empId : attributes.queryParams.empId
}]]]></db:input-parameters>
		</db:delete>
		<logger level="INFO" doc:name="Logger" doc:id="001af075-9a22-48e0-8620-5e3042cf4c37" />
	</flow>
</mule>
